@model Concretar.Services.Models.VentaViewModel
@{
    var Email = User.Claims.FirstOrDefault(x => x.Type == "Usuario").Value;
    ViewData["Title"] = "Cuotas";
}

<style>
    .successlight {
        background-color: #a6f6c8 !important;
    }

        .successlight:hover {
            background-color: #46e88b !important;
        }

    .dangerlight {
        background-color: #ffc0c0 !important;
    }

        .dangerlight:hover {
            background-color: #ff6d6d !important;
            color: aliceblue;
        }

    .isDisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }
    @@media print {
        #printQR {
            -webkit-print-color-adjust: exact;
            font-family: Gotham !important;
        }

        .card-deck {
            opacity: 1 !important;
        }
    }
    @@media screen {
        .card-deck {
            position: fixed !important;
            opacity: 0;
        }
    }
</style>
<header class="content__title">
    <h1>@ViewData["Title"]</h1>
    <div class="actions">
        <a href="@Url.Action("Index", "Venta")" class="actions__item zmdi zmdi-arrow-left text-danger" title="Volver"></a>
    </div>
</header>

<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                @Html.AjaxGrid(Url.Action("IndexGrid", "Cuota", new { ventaId = Model.VentaId }))
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="VerDetalleCuota" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="title" id="LargeModalTitle"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body modal-body-detail" id="VerDetalle">
            </div>
        </div>
    </div>
</div>
<div class="card-deck" id="recibo">

</div>
<script>
    function VerDetalles(cuotaId, ventaId){
        $.ajax({
            url: '@Url.Action("GetCuota", "Cuota")',
            data: { cuotaId: cuotaId, ventaId: ventaId },
            success: function(data){
                $("#VerDetalle").html(data);
                $("#VerDetalleCuota").modal('show');
            },
            error: function(msg){
                nError(msg);
            }
        });
    }

    @*function OnConfirm(data) {
        obj = JSON.parse(data);
        var id = obj.id;
        $('.modal').modal('hide');
        $(".row-" + id).removeClass().addClass("row-" + id + " successlight");
        nSuccess("Cuota número " + obj.numeroCuota + " pagada exitosamente");
        window.open('@Url.Action("Recibo", "Cuota")?CuotaId=' + id + '&VentaId=' + @Model.VentaId, "_blank");

        //Actualizacion de tabla conservando la página actual...
        var grid = $('.mvc-grid').data('mvc-grid');
        grid.queryRemove(grid, grid.name + '-Page');
        $('.mvc-grid').mvcgrid({
            reload: true
        });
    }*@

    function Recibo(cuotaId, ventaId) {
        $.ajax({
            url: '@Url.Action("Recibo", "Cuota")',
            data: { CuotaId: cuotaId, VentaId: ventaId },
            success: function (data) {
                $("#recibo").html(data);
                setTimeout(function () {
                    $("#recibo").print();
                }, 500);
            },
            error: function (data) {
                nError("Ocurrio un error al intenar mostrar el recibo.");
            }
        });
    }
</script>