@model Concretar.DTO.ChangePasswordDTO
@{
    ViewBag.Title = "Editar mis Credenciales";
}

<div class="card">
    <div class="card-header">
        <h2 class="card-title">@ViewData["Title"]</h2>
    </div>
    <div class="card-block">
        <form asp-action="ChangePass" asp-controller="Account" method="post" id="ChangePass">
            @Html.HiddenFor(m => m.Email)
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(m => m.ActualPassword, new { @class = "form-control", @type = "password" })
                        @Html.Label("Contraseña Actual")
                        <i class="form-group__bar"></i>
                    </div>
                    @Html.ValidationMessageFor(m => m.ActualPassword, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @type = "password" })
                        @Html.Label("Nueva Contraseña")
                        <i class="form-group__bar"></i>
                    </div>
                    @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = "form-control", @type = "password" })
                        @Html.Label("Repetir Nueva Contraseña")
                        <i class="form-group__bar"></i>
                    </div>
                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword, null, new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn--icon-text waves-effect float-right">
                    <i class="zmdi zmdi-save"></i>
                    Confirmar
                </button>
            </div>
        </form>
    </div>
</div>
