@model Concretar.Services.Models.ClienteViewModel
@{
    ViewBag.Title = "Nuevo cliente";
}
<header class="content__title">
    <h1>@ViewBag.Title</h1>
    <div class="actions">
        <a href="@Url.Action("Index", "Cliente")" class="actions__item zmdi zmdi-arrow-left text-danger" title="Volver"></a>
    </div>
</header>

<form asp-action="Create" asp-controller="Cliente" method="post" id="CreateClienteForm">
    <div class="card">
        <div class="card-block">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control", tabindex = "1", autocomplete = "off" })
                        <label>Apellido</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Apellido" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", tabindex = "1", autocomplete = "off" })
                        <label>Nombre</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Nombre" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="zmdi zmdi-calendar"></i></span>
                            <div class="form-group">
                                <div class="input-filtro" id="select-date">
                                    <input type="text" class="form-control input-filtro" Name="FechaNacimiento" id="FechaNacimiento" placeholder="Fecha Nacimiento.." name="DateMonth" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.DNI, new { @class = "form-control", tabindex = "1", autocomplete = "off" })
                        <label>DNI</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", tabindex = "1", autocomplete = "off" })
                        <label>Correo</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Correo" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Domicilio, new { @class = "form-control", tabindex = "1", autocomplete = "off" })
                        <label>Calle</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Domicilio" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.NumeroDomicilio, new { @class = "form-control", tabindex = "1", autocomplete = "off" })
                        <label>Numero de Domicilio</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Domicilio" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", tabindex = "1", autocomplete = "off" })
                        <label>Telefono</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Telefono" id="text-nombre-error" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Edad, new { @class = "form-control", tabindex = "1", autocomplete = "off" })
                        <label>Edad</label>
                        <i class="form-group__bar"></i>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group form-group--float">
                        @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control", tabindex = "1", autocomplete = "off" })
                        <label>Observacion</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Observacion" id="text-nombre-error" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-auto">
            <button id="submit-btn" class="btn btn-primary btn--icon-text waves-effect float-right" tabindex="2">
                <i class="zmdi zmdi-save"></i>
                Guardar
            </button>
        </div>
    </div>
</form>
<script type="text/javascript">
     $("#submit-btn").click(function (event) {
        event.preventDefault();
        if ($("#CreateClienteForm").valid()) {
            $("#submit-btn").html("<i class='zmdi zmdi-spinner fa-spin'></i> Procesando...");
            $("#submit-btn").addClass("disabled");
            document.getElementById("submit-btn").style.pointerEvents = "none";
            $("#CreateClienteForm").submit();
        }
    });
    $(document).ready(function () {
        $('#select-date input').datepicker({
            format: "dd/mm/yyyy",
            //viewMode: "months",
            endDate: '@DateTime.Now.ToString("dd/MM/yyyy")',
            autoclose: true,
            toggleActive: true
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });;
    });
    $("#DNI, #Edad, #NumeroDomicilio, #Telefono").keydown(function (e) {
        if (e.shiftKey || e.ctrlKey || e.altKey) {
            e.preventDefault();
            return;
        } 
        else {
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                (e.keyCode >= 35 && e.keyCode <= 40 && e.keyCode <= 18)) {
                return;
            }
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        }
    });

    $('#DNI, #Edad, #NumeroDomicilio, #Telefono').on('keyup blur', function () {
        var node = $(this);
        node.val(node.val().replace(/[^0-9^]/g, ''));
    });
</script>
