@using Concretar.Backend.Models
@using Concretar.Services.Models
@model Concretar.Services.Models.ClienteViewModel
@{
    ViewBag.Title = "Nuevo cliente";
}
<link href="~/css/rol_style.css" rel="stylesheet" />
<header class="content__title">
    <h1>@ViewBag.Title</h1>
    <div class="actions">
        <a href="@Url.Action("Index", "Cliente")" class="actions__item zmdi zmdi-arrow-left text-danger" title="Volver"></a>
    </div>
</header>

<form asp-action="Edit" asp-controller="Cliente" method="POST" id="EditClienteForm">
    <div class="card">
        <div class="card-block">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ClienteId)
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control", tabindex = "1" })
                        <label>Apellido</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Apellido" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", tabindex = "1" })
                        <label>Nombre</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Nombre" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", tabindex = "1" })
                        <label>Fecha de nacimiento</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="FechaNacimiento" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Edad, new { type = "number", @class = "form-control", tabindex = "1" })
                        <label>Edad</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Edad" id="text-nombre-error" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Correo, new { @class = "form-control", tabindex = "1" })
                        <label>Correo</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Correo" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Domicilio, new { @class = "form-control", tabindex = "1" })
                        <label>Calle</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Domicilio" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.NumeroDomicilio, new { @class = "form-control", tabindex = "1" })
                        <label>Numero de Domicilio</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Domicilio" id="text-nombre-error" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <div class="form-group form-group--float">
                        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", tabindex = "1" })
                        <label>Telefono</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Telefono" id="text-nombre-error" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-group--float">
                        @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control", tabindex = "1" })
                        <label>Observacion</label>
                        <i class="form-group__bar"></i>
                    </div>
                    <span asp-validation-for="Observacion" id="text-nombre-error" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-auto">
            <button id="submit-btn" class="btn btn-primary btn--icon-text waves-effect float-right" tabindex="2">
                <i class="zmdi zmdi-save"></i>
                Guardar
            </button>
        </div>
    </div>
</form>
<script>
    $("#submit-btn").click(function (event) {
        event.preventDefault();
        if ($("#EditClienteForm").valid()) {
            $("#submit-btn").html("<i class='zmdi zmdi-spinner fa-spin'></i> Procesando...");
            $("#submit-btn").addClass("disabled");
            document.getElementById("submit-btn").style.pointerEvents = "none";
            $("#EditClienteForm").submit();
        }
    });
</script>
