@using Concretar.Backend.Models
@using Concretar.Services.Models
@model Concretar.Services.Models.ClienteViewModel
@{
    ViewBag.Title = "Venta - Proyecto";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<link href="~/css/rol_style.css" rel="stylesheet" />
<header class="content__title">
    <h1>@ViewBag.Title</h1>
    <div class="actions">
        <a href="@Url.Action("Create", "Venta")" class="actions__item zmdi zmdi-arrow-left text-danger" title="Volver"></a>
    </div>
</header>
<div class="card datos-cliente d-none">
    <div class="card-block">
        <p>Datos del cliente</p>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Nombre</label>
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Apellido</label>
                    @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>DNI</label>
                    @Html.TextBoxFor(model => model.DNI, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Calle</label>
                    @Html.TextBoxFor(model => model.Domicilio, new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card filter-proyecto">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordionGeneral" href="#collapseGeneral" aria-expanded="true" aria-controls="collapseGeneral" style="cursor: pointer;">
            <h3 class="card-title">Filtros&nbsp;&nbsp;<i class="icon zmdi zmdi-chevron-up zmdi-hc-lg"></i></h3>
        </div>
        <div id="collapseGeneral" class="collapse show" role="tabpanel" aria-labelledby="headingGeneral">
            <div class="card-block fix-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="form-group">
                            <label for="numTran-filtro">Nombre</label>
                            <input type="text" placeholder="Ej.: Tirasso" id="Nombre" name="Nombre" class="form-control input-filtro" required pattern="^([a-zA-Z\u00C0-\u017F]+[,.]?[ ]?|[a-zA-Z\u00C0-\u017F]+)+$" />
                            <i class="form-group__bar"></i>
                            @Html.Hidden("nombre")
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-auto float-right">
                        <a id="btn-clean" class="btn btn-danger btn--icon-text waves-effect text-white">
                            <i class="zmdi zmdi-close"></i>
                            Borrar
                        </a>
                        <a id="btn-filter" onclick="reloadGrid(this)" class="btn btn-dark btn--icon-text waves-effect text-white">
                            <i class="zmdi zmdi-filter-list"></i>
                            Filtrar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card table-proyecto">
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                @Html.AjaxGrid(Url.Action("GridProyecto", "Venta"))
            </div>
        </div>
    </div>
</div>
<div class="card datos-proyecto d-none">
    <div class="card-block">
        <p>Datos del proyecto</p>
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input class="form-control" id="Nombre" name="Nombre" tabindex="1" type="text" value="" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ubicación</label>
                            <input class="form-control" id="Ubicacion" name="Ubicacion" tabindex="1" type="text" value="" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Precio</label>
                            <input class="form-control" id="Precio" name="Precio" tabindex="1" type="text" value="" disabled="disabled">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card datos-venta d-none">
    <div class="card-block">
        <p>Datos de de la venta</p>
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Anticipo</label>
                            <input class="form-control" id="Anticipo" name="Anticipo" type="number" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cantidad de cuotas</label>
                            <input class="form-control" id="CantidadCuotas" name="CantidadCuotas" type="number" value="">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Interes (%)</label>
                            <input class="form-control" id="Interes" name="Interes" type="number" value="">
                        </div>
                    </div>
                    <div class="col-md-">
                        <div class="form-group">
                            <label>Fecha de vencimiento</label>
                            <input data-date-format="Y/m/d" class="form-control flatpickr-input input-filtro fecha" id="FechaVencimiento" placeholder="Click aquí" type="date" name="FechaVencimiento">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-auto">
                <button onclick="return cuotapreview()" class="btn btn-primary btn--icon-text waves-effect float-right">
                    <i class="zmdi zmdi-receipt"></i>
                    Previsualización
                </button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalpreviucuotas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Cantidad de cuotas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row row-bordered">
                    <div class="col-4">
                        Número de la cuota
                    </div>
                    <div class="col-3">
                        Precio de la cuota
                    </div>
                    <div class="col-4">
                        Fecha de vencimiento
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 numeroCuota">
                    </div>
                    <div class="col-4 precioCuota">
                    </div>
                    <div class="col-4 fechaVencimiento">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <form asp-action="Create" asp-controller="Venta" method="post" id="ProyectoForm">
                    @Html.TextBoxFor(model => model.ClienteId, new { @class = "form-control", type = "hidden"})
                    <input class="form-control" id="ProyectoId" name="ProyectoId" type="hidden" value="">
                    <input class="form-control" id="Interes" name="Interes" type="hidden" value="">
                    <input class="form-control" id="CantidadCuotas" name="CantidadCuotas" type="hidden" value="">
                    <input class="form-control" id="FechaVencimiento" name="FechaVencimiento" type="hidden" value="">
                    <input class="form-control" id="Anticipo" name="Anticipo" type="hidden" value="">
                    <button type="submit" class="btn btn-primary">Confirmar venta</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    $("#btn-clean").click(function () {
        $(".input-filtro").val(null).removeClass("form-control--active");
        $('.select2').val(null).trigger('change');
        reloadGrid();
    });
    $(".input-filtro").keypress(function (event) {
        if (event.which == 13) {
            event.preventDefault();
            filtrar($("#btn-filter"));
        }
    });
    function borrarFiltro(btn) {
        $(".input-filtro").val(null).removeClass("form-control--active");
        reloadGrid(btn, "<i class='zmdi zmdi-close'></i> Borrar");
    }
    function reloadGrid(btn, text) {
        $('.mvc-grid').mvcgrid({
            requestType: 'get',
            query: 'nombre=' + $(".filter-proyecto #Nombre").val(),
            reloadStarted: function () {
                $(".mvc-grid").html("<br><i class='zmdi-hc-li zmdi zmdi-refresh zmdi-hc-spin zmdi-hc-3x loader-table'></i>");
                $("#btn-clean, #btn-filter").addClass("disabled");
                $("#btn-filter").html("<i class='zmdi zmdi-spinner fa-spin'></i> Procesando");
            },
            reloadEnded: function () {
                $("#btn-clean, #btn-filter").removeClass("disabled");
                $("#btn-filter").html("<i class='zmdi zmdi-filter-list'></i> Filtrar");
            },
            showLoading: true,
            reload: true
        });
    }
    $(document).ready(function () {
        $(".mvc-grid").html("<br><i class='zmdi-hc-li zmdi zmdi-refresh zmdi-hc-spin zmdi-hc-3x loader-table'></i>");
        reloadGrid();
    });
    function DatosInputsProyecto(data) {
        $(".filter-proyecto").addClass("d-none");
        $(".table-proyecto").addClass("d-none");
        $(".datos-proyecto").removeClass("d-none");
        $(".datos-cliente").removeClass("d-none");
        $(".datos-venta").removeClass("d-none");

        $('.datos-proyecto #Precio').val(data.precio);
        $('.datos-proyecto #Nombre').val(data.nombre);
        $('.datos-proyecto #Ubicacion').val(data.ubicacion);
        $('#ProyectoForm #ProyectoId').val(data.proyectoId);

    }
    $("#FechaVencimiento").flatpickr({
        dateFormat: "Y/m/d",
        minDate: 'today',
        locale: {
            weekdays: {
                shorthand: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                longhand: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
            },
            months: {
                shorthand: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nob', 'Dic'],
                longhand: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            },
            firstDayOfWeek: 1,
        },
    });

    function cuotapreview() {
        var precio = $('.datos-proyecto #Precio').val();
        var anticipo = $('.datos-venta #Anticipo').val();
        var cantidadcuotas = $('.datos-venta #CantidadCuotas').val();
        var interes = $('.datos-venta #Interes').val();
        var fechavencimiento = $('.datos-venta #FechaVencimiento').val();
        //calculo para mostrar en el modal
        var subtotal = precio - anticipo;
        var porcentaje = (subtotal * interes) / 100;
        var subtotal = porcentaje + subtotal;
        var totalcuota = subtotal / cantidadcuotas;
        var totalcuota = Math.round(totalcuota);
        //valores para el form hidden
        $('#ProyectoForm #Anticipo').val(anticipo);
        $('#ProyectoForm #Interes').val(interes);
        $('#ProyectoForm #CantidadCuotas').val(cantidadcuotas);
        $('#ProyectoForm #FechaVencimiento').val(fechavencimiento);

        var ncuota = 1;
        $.ajax({
            url: '@Url.Action("FechaVencimiento", "Venta")?fechavencimiento=' + fechavencimiento + '&cantidadcuotas='+ cantidadcuotas,
            success: function (result) {
                $.each(result, function (i, fecha) {
                    $(".numeroCuota").append("<p>" + ncuota + "</p>");
                    $(".precioCuota").append("<p> $" + totalcuota + "</p>");
                    $(".fechaVencimiento").append("<p>" + fecha + "</p>");
                    ncuota++;
                });
                var cantidadcuotas = $('#CantidadCuotas').val();
                $('#modalpreviucuotas').modal('show')
            },
            error: function (result) {
                alert(result)
            }
        });     
    }

</script>
